#header { background-color: #3b5998; }
#navigation ul li a.current, #navigation ul li.current_page_item a { background: #6d84b4; }
a { color: #1e3b78; }

#content .meta-footer ul li { background-color: #d3dae8; }
#content .meta-footer ul li a:hover { background-color: #6d84b4; }	
#content #comments h3 { color: #6d84b4; }	
#content #comments .meta-comment { color: #6d84b4; }
#content #respond h3 { color: #6d84b4; }

.avatar { border: 1px solid #6d84b4; }

#sidebar .feeds { color: #6d84b4; }
	
#content .meta-header { color: #6D84B4; }
#content .entry h2 { color: #3b5998; }
#content .entry h2 a { color: #3b5998; }
#content .entry h2 a:hover { color: #3b5998; border-bottom: 1px solid #3b5998; }
#sidebar h3 { color: #3b5998; }
#sidebar .feeds strong { color: #3b5998; }